*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.page {
  display: flex;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  
}

.content {
  display: grid;
  grid-template-columns: 711px 399px;
  grid-template-areas: 
  "result content__details";
  align-items: end;
  gap: 30px;
  grid-auto-flow: column;
  align-self: center;
  padding:133px 30px;
}

.result {
  grid-area: result;
  padding-top: 78px;
  padding-left: 0px;
}

.search-form {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  justify-content: space-between;
  margin-top: 16px;
}

.content__details {
  display: flex;
  flex-direction: column;
  grid-area: content__details;
  width: 100%;
  height: 100%;
  gap:26px;
}

.content__list-container {
  display: flex;
  flex-direction: column;
  height: 298px;
  overflow: auto;
}

.result__video-container {
  height: 456px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 386px;
  object-fit:cover;
  object-position: center;
}

.content__list-item {
  padding-bottom: 30px;
  padding-left: 3px;
  padding-right: 3px;
}

.content__video-card {
  display: flex;
  align-items: start;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit:cover;
  object-position:center;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  width: 196px;
  height: 103px;
  flex-grow:1;
}

.search-form__fieldset-title {
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-size: 18px;
}

.title {
font-family: Oswald;
font-size: 75px;
font-style: normal;
font-weight: 700;
line-height: 94%;
text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  text-decoration: none;
  font-style: normal;
  color: #FFF;
  align-self: stretch;
}

.content__video-card-title{
  font-family: Oswald;
  font-size: 30px;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content__video-card-description {
  font-family: "Fira Sans Condensed";
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@supports (-webkit-line-clamp: 1) {
  .content__video-card-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden; 
  }
} 

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}


.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  background: transparent;
}

.search-form__fieldset {
  border: none;
}

.search-form__label {
  display: flex;
  width: fit-content;
  gap:5px;
  margin-top: 5px;
  align-items: center;
}

.search-form__textfield {
  display: flex;
  border: none;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  color: rgba(255, 255, 255, 0.70);
  font-family: "Fira Sans Condensed";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  background-color: transparent;
  width: 211px;
  padding: 0;
  cursor: pointer
}

.search-form__textfield:active {
  border: 1px solid #FFF;
}

.search-form__textfield:focus {
  outline: none ;
}

.search-form__label:has(.search-form__textfield:focus-visible) {
  outline: 4px solid gray;
}

.search-form__textfield { 
  appearance: none;
}

.search-form__pseudo-checkbox {
  display: flex;
  align-items: center;
  justify-content: center; 
  width: 19px;
  height: 19px;
  border: 1px solid #FFF;
  padding-top: 1.5px;
  padding-bottom: 1.5px;
  cursor: pointer
}

.search-form__pseudo-checkbox::after {
  content: '';
  width: 18px;
  height: 18px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: '';
  border: 1px solid #FFF;
  background: #FFF;
  width: 15px;
  height: 15px;
}

 /* попытка реализовать фак.шаг*/
.search-form__label:focus {
  outline: 1px solid #FFF;
}

.search-form__label-text:hover{
  border-bottom: 1px solid red;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid #FFF;
  background: transparent;
  color: #FFF;
  text-align: center;
  font-family: "Fira Sans Condensed";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer
}

.search-form__submit-button {
  align-self: flex-end;
  width: 194.0px;
  height: 34.0px;
}

.more-button {
  width: inherit;
  height: 34px; 
}

.button:focus {
  outline: none;
}

.button:active {
  background: #545050;
}

.button:hover {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  cursor: pointer;
}

.button:focus-visible {
  outline: 1px solid #FFF;
}

.content__card-link_current:focus{
  outline: none;
}

.content__card-link_current:active{
  background: #545050;
}

.content__card-link_current:hover {
  line-height: 16.2px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.content__card-link_current:focus-visible{
  align-self: stretch;
  color: #FFF;
  font-family: "Fira Sans Condensed";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px;
}