*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */ /* почему-то тут ругается линт*/
/* stylelint-disable-next-line rule-empty-line-before */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  /* stylelint-disable-next-line alpha-value-notation */
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.page {
  display: flex;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

.content {
  display: grid;
  grid-template-columns: 711px 399px;
  grid-template-areas: 'result content__details';
  align-items: end;
  gap: 30px;
  grid-auto-flow: column;
  align-self: center;
  padding: 133px 30px;
}

.result {
  grid-area: result;
}

.search-form {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  justify-content: space-between;
  height: 54px;
}

.content__details {
  display: flex;
  flex-direction: column;
  grid-area: content__details;
  width: 100%;
  height: 100%;
  gap: 26px;
}

.content__list-container {
  height: 298px;
  padding-right: 3px;
  padding-left: 2px;
  overflow: auto;
  position: relative;
}

.content__list {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.result__video-container {
  height: 386px;
  margin-bottom: 16px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  object-position: center;
}

.content__video-card {
  display: flex;
  align-items: start;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  width: 196px;
  height: 103px;
  flex-grow: 1;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.title {
  font-family: Oswald, Montserrat, sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  display: block;
  text-decoration: none;
  font-style: normal;
  color: #fff;
  align-self: stretch;
}

.content__card-link:active {
  background: #545050;
}

.content__video-card-title {
  font-family: Oswald, Montserrat, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
  text-overflow: ellipsis;
  overflow: hidden;
}

@supports (-webkit-line-clamp: 4) {
  /* stylelint-disable-next-line rule-empty-line-before */
  .content__video-card-description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
  }
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  background: transparent;

}

.search-form__fieldset {
  border: none;
}

.search-form__label {
  display: flex;
  width: fit-content;
  align-items: center;
  cursor: pointer;
}

.search-form__textfield {
  display: flex;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  background-color: transparent;
  width: 225px;
  padding-left: 0;
  appearance: none;
}

.search-form__textfield:active {
  border: 1px solid #fff;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(.search-form__textfield:focus-visible) {
  outline: 1px solid #fff;
}

.search-form__pseudo-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  padding-top: 1.5px;
  padding-left: 0;
  padding-bottom: 1.5px;
  margin-right: 5px;
  cursor: pointer;
}

.search-form__pseudo-checkbox::after {
  content: '';
  width: inherit;
  height: inherit;
  background: inherit;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: '';
  border: 1px solid #fff;
  background: #fff;
  width: 15px;
  height: 15px;
}

.search-form__label:has(.search-form__checkbox:focus) {
  outline: 1px solid #fff;
}

.search-form__label:hover > .search-form__label-text {
  border-bottom: 1px solid #fff;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  text-align: center;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}

.search-form__submit-button {
  align-self: flex-end;
  width: 194px;
  height: 34px;
  margin-bottom: 5px;
}

.more-button {
  width: 100%;
  height: 34px;
  margin-top: 30px;
  margin-bottom: 2px;
}

.button:focus {
  outline: none;
}

.button:hover {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  cursor: pointer;
}

.button:active {
  background: #545050;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

/* карточки*/

.content__card-link_current {
  background: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:hover {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

